# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code settings folder
.vscode/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Backup and swap files
*.bak
*.swp

# PyInstaller build files
*.spec
dist/
build/

# Log files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE/editor config folders (optional)
.idea/

# Temporary files
*.tmp
